@layer components {
  .notification-container {
    @apply fixed top-10 right-10;
    @apply w-72 sm:w-80 space-y-3;
    @apply z-40;
  }

  .notification {
    --notification-autohide-delay: 4s;
    @apply flex items-center;
    @apply space-x-1;
    @apply p-1;
    @apply bg-white bg-opacity-40 backdrop-filter backdrop-blur-sm;
    @apply rounded-lg;
    @apply shadow-2xl;
    @apply overflow-hidden;
  }

  .notification-icon {
    @apply h-6;
    @apply flex-none;
  }

  .notification__bar {
    @apply notification;
    @apply pb-3;
    @apply relative;

    .bar {
      content: '';
      @apply absolute bottom-0 -left-1;
      @apply h-2;
      animation: width var(--notification-autohide-delay) linear forwards;

      @keyframes width {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
    }

    &:hover {
      .bar {
        animation-play-state: paused;
      }
    }
  }

  .notification__bar.success {
    @apply text-success-700;

    .bar {
      @apply bg-success-600;
    }
  }

  .notification__bar.danger {
    @apply text-danger-600;

    .bar {
      @apply bg-danger-500;
    }
  }

  .notification__bar.warning {
    @apply text-warning-400;

    .bar {
      @apply bg-warning-400;
    }
  }

  .notification__bar.info {
    @apply text-info-400;

    .bar {
      @apply bg-info-400;
    }
  }
}
