@layer components {
  .notification-container {
    @apply fixed right-0;
    @apply m-5;
    @apply w-72 sm:w-80 space-y-3;
    @apply z-40;
  }

  .notification {
    @apply bg-white bg-opacity-40 backdrop-filter backdrop-blur-sm;
    @apply rounded-lg;
    @apply shadow-2xl;
  }
  .notification-message {
    @apply flex items-center;
    @apply p-1;
    @apply space-x-1;
  }
  .notification-icon {
    @apply h-6;
    @apply flex-none;
  }
  .notification-close-btn {
    @apply absolute top-0 right-0;
    @apply h-5;
    @apply text-danger-500;
    @apply cursor-pointer;
  }

  .notification--bar {
    --notification-autohide-delay: 4s;
    @apply notification;
    @apply overflow-hidden;

    .bar {
      @apply h-2;
      animation: width var(--notification-autohide-delay) linear forwards;

      @keyframes width {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
    }

    &:hover {
      .bar {
        animation-play-state: paused;
      }
    }
  }

  .notification--bar.success {
    @apply text-success-600;

    .bar {
      @apply bg-success-600;
    }
  }

  .notification--bar.danger {
    @apply text-danger-500;

    .bar {
      @apply bg-danger-500;
    }
  }

  .notification--bar.warning {
    @apply text-warning-400;

    .bar {
      @apply bg-warning-400;
    }
  }

  .notification--bar.info {
    @apply text-info-400;

    .bar {
      @apply bg-info-400;
    }
  }
}
